@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap");

$theme-colors: (
  "primary": #9e00c5,
  "secondary": #d500f9,
  "accent": #03dac5,
  "primary-dark": #5f0077,
  "primary-lite": #de8ff26b,
);
$sizes: (
  60: 60%,
);

$grid-gutter-width: 14px;

$border-radius: 0.6rem;
$border-radius-lg: 0.4rem;
$border-radius-sm: 0.4rem;

$input-btn-padding-y: 0.275rem;
$input-btn-padding-x: 1.5rem;

$font-family-baloo: "Baloo Paaji 2", cursive;
$font-family-base: $font-family-baloo;

$list-group-hover-bg: #de8ff26b;

@import "~bootstrap/scss/bootstrap";

.list-group-item:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0.6rem;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0.6rem;
  border-bottom-left-radius: 0rem;
}

.no-bottom-border {
  border-bottom-width: 0;
}

.top-border {
  border-top-width: 1px;
}

.right-rounded {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}

.text-action {
  color: map-get($theme-colors, "primary");
}

.text-action:hover {
  color: map-get($theme-colors, "primary-dark");
  cursor: pointer;
}

.sidebar {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}

.shop-slider {
  display: flex;
  overflow: hidden;
  height: 300px;
}

.shop-slide {
  min-width: 100%;
  text-align: center;
}

.rounded {
  border-radius: 0.6rem;
}
