@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap");

$theme-colors: (
  "primary": #9e00c5,
  "secondary": #d500f9,
  "accent": #03dac5,
  "primary-dark": #5f0077,
);
$sizes: (
  60: 60%,
);

$grid-gutter-width: 14px;

$border-radius: 0.6rem;
$border-radius-lg: 0.4rem;
$border-radius-sm: 0.4rem;

$input-btn-padding-y: 0.275rem;
$input-btn-padding-x: 1.5rem;

$font-family-baloo: "Baloo Paaji 2", cursive;
$font-family-base: $font-family-baloo;

@import "~bootstrap/scss/bootstrap";

.right-rounded {
  border-top-right-radius: 0.6rem;
  border-bottom-right-radius: 0.6rem;
}
